<%- include('includes/header.ejs', {username: username}) %>

    <div class="container-fluid p-5">
        <h1 class="text-center">Personajes de Halo</h1>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-3">
              <img src="https://e1.pxfuel.com/desktop-wallpaper/519/601/desktop-wallpaper-doomguy-vs-master-chief-death-battle.jpg" class="card-img-top" alt="Master Chief">
              <div class="card-body">
                <h5 class="card-title">Master Chief</h5>
                <p class="card-text">John-117, también conocido como Master Chief, es el protagonista de la serie Halo.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-3">
              <img src="https://i.pinimg.com/736x/a6/fe/21/a6fe2122952d1d2623ef26c32ce96188.jpg" class="card-img-top" alt="Spartan Locke">
              <div class="card-body">
                <h5 class="card-title">Spartan Locke</h5>
                <p class="card-text">Spartan Locke es un supersoldado del UNSC que aparece en Halo 5: Guardians.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-3">
              <img src="https://i.pinimg.com/originals/55/59/63/55596315153566b89bfd22361217ce78.png" class="card-img-top" alt="Arbiter">
              <div class="card-body">
                <h5 class="card-title">Arbiter</h5>
                <p class="card-text">El Arbiter es un Sangheili que fue líder del Covenant y luego aliado del UNSC.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-3">
              <img src="https://cdn.vox-cdn.com/thumbor/01oeWTI_0NEvAylZT1l8mW0JQnw=/47x0:1312x843/1400x1400/filters:focal(47x0:1312x843):format(png)/cdn.vox-cdn.com/uploads/chorus_image/image/45947092/cortana___halo_4___model_10_by_solarnova1101-d5kuefe.0.0.png" class="card-img-top" alt="Cortana">
              <div class="card-body">
                <h5 class="card-title">Cortana</h5>
                <p class="card-text">Cortana es una inteligencia artificial que acompaña al Master Chief en sus misiones.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-3">
              <img src="https://cdna.artstation.com/p/assets/images/images/045/358/454/large/richard-reyes-atriox-01.jpg?1642532630" class="card-img-top" alt="Atriox">
              <div class="card-body">
                <h5 class="card-title">Atriox</h5>
                <p class="card-text">Atriox es un Jiralhanae líder del Banished, una facción separatista del Covenant.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-3">
              <img src="https://i.ytimg.com/vi/3ctuxiaST5I/maxresdefault.jpg" class="card-img-top" alt="Prophet of Truth">
              <div class="card-body">
                <h5 class="card-title">Prophet of Truth</h5>
                <p class="card-text">El Prophet of Truth era un líder del Covenant que buscaba activar los Halo para eliminar a la humanidad.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--Incliur el footer-->
<%- include('includes/footer.ejs') %>